<p id="notice"><%= notice %></p>

<p>
  <b>Body:</b>
  <%= @troast.body %>
</p>

<p>
  <b>Date:</b>
  <%= @troast.date %>
</p>

<p>
  <b>Toast:</b>
  <%= @troast.toast %>
</p>

<p>
  <b>Anonymous:</b>
  <%= @troast.anonymous %>
</p>

<p>
  <b>User:</b>
  <%= @troast.user.name %>
</p>
  


<% if @troast.image.exists? %>
  <div class="img">
    <%= image_tag @troast.image.url(:thumb) %>
  </div>
<% end %>

<%= link_to 'Edit', edit_troast_path(@troast) %> |
<%= link_to 'Back', troasts_path %>
