<% if @user != nil %>
  <div id="all_content">
    <div class="heading">
      <div id="TroastFile">
        <%= @user.name.split[0] %>'s Troastfile
      </div>
      <div id="logged_info">
        <p><span class="name"><%= 'Logged in as ' + @troaster.name %>.</span>
          <span class="action"><%= link_to 'Logout', root_url %></span></p>
        <p><span class="action"><%= link_to 'Back to Main', '/public/search' %></span></p>
      </div>
    </div>

    <div id="troastee_info">
      <% if @user.photo.exists? %>
        <div id="troastee_profile_image">
          <%= link_to image_tag(@user.photo.url(:profile)), @user.photo.url %>
        </div>
      <% end %>
      <div id="troastee_facts">
        <p><span class='label'>Name:</span> <%= @user.name %></p>
        <p><span class='label'>Entry Year:</span> <%= @user.year %></p>
      </div>
    </div>

    <div id="troast_div">
      <div id="new_troast">
        <%= form_tag('/troasts/dynamicCreate', {:id => 'new_troast_form', :multipart => true, :remote => true}) do %>
          <div id="nt_text_area"><%= text_area_tag :body, params[:body], :id => 'body_field', :placeholder => 'Post a new troast comment...', :size => 48, :rows => "4", :cols => "48" %></div>
          <div id="nt_radio_buttons">
            <%= radio_button_tag :toast, value = "toast", checked=false, :class => 'radio' %> Toast 
            <%= radio_button_tag :toast, value = "roast", checked=true, :class => 'radio' %> Roast
          </div>
          <div id="nt_image_upload"><%= file_field_tag :image, :id => 'image_upload' %></div>
          <div id="nt_anonymous"><%= check_box_tag :anonymous, 'true', false, :class => 'checkbox' %> Post Anonymously</div><br/>
          <div id="nt_submit"><%= button_tag 'Troast!', :id => 'nt_submit_button' %></div>
        <% end %> 
      </div>
      <% if flash[:notice] %>
        <div id="flash-error">
          <%= flash[:notice] %>
        </div>
      <% end %>
      <h2>Troasts:</h2>
      <div id="troasts">
        <%= render :partial => "troasts/troast", :collection => @troasts %>
      </div>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $('#flash-error').delay(5000).slideUp();
  $('#body_field').keypress(function(event) {
    if (event.which == 13) {
      $('#new_troast_form').submit();
      $(this).val('');
    }
  });
</script>
